In [4]:
import pandas as pd
import numpy as np
import csv
import os
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

In [11]:
goods_path = './goods_train_s.txt'
user_path = './user_action_train_s.txt'
item_header = ['spu_id','brand_id','cat_id']
df_item = pd.read_csv(goods_path, sep='\t',names=item_header)

user_header = ['uid','spu_id','action','date']
df_user = pd.read_csv(user_path, sep='\t', names=user_header)
print df_user.shape

(20, 4)

In [12]:
print df_item
n1 = df_item['spu_id'].dropna()#,df_item.count('brand_id'),df_item.count('cat_id')
print df_item.shape
print len(n1)

     spu_id  brand_id  cat_id
0    621837  10010304     297
1   1698431  10012546     271
2    653495  10026906    1056
3   1426380  10012968     297
4    200496  10004565    1056
5   1500338  10000601     337
6    780216  10003869     680
7     12596  10011609     311
8   1157816  10000445     337
9     12596  10001310     311
10  1227567  10003640     271
11  2036183  10015719   28008
12  1293088  10013692   28006
13  1940534  10003430     311
14   854265  10000223    1056
15  1731056  10015162   28007
16   704098  10005670     311
17  1770522  10004553   28007
18   549476  10014937     311
19      NaN  10001372     311
(20, 3)
19

In [15]:
df_item = df_item.drop_duplicates()
print df_item,df_item.shape

     spu_id  brand_id  cat_id
0    621837  10010304     297
1   1698431  10012546     271
2    653495  10026906    1056
3   1426380  10012968     297
4    200496  10004565    1056
5   1500338  10000601     337
6    780216  10003869     680
7     12596  10011609     311
8   1157816  10000445     337
9     12596  10001310     311
10  1227567  10003640     271
11  2036183  10015719   28008
12  1293088  10013692   28006
13  1940534  10003430     311
14   854265  10000223    1056
15  1731056  10015162   28007
16   704098  10005670     311
17  1770522  10004553   28007
18   549476  10014937     311
19      NaN  10001372     311 (20, 3)